@keyframes showlist {
    0% {
        transform: translateY(2em);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes dotloader {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-30px);
    }
}