 main {
     & .position {
         @extend %FlexCenter;
         padding: 20px;
         background-color: $dark-gray;
         box-shadow: 0 0 5px rgb(0, 0, 0, 0.5); // le box shadow n'est visible que d'un coté

         & i {
             padding-right: 10px;
         }

         & p {
             padding-left: 10px;
             font-weight: 500;
         }
     }

     & .reservation {
         text-align: center;
         background-color: $light-gray;

         & h2 {
             font-size: 24px;
             font-weight: 700;
             padding: 45px 0px 20px 0px;
         }

         & p {
             font-size: 18px;
             font-weight: 300;
             padding: 0px 0px 20px 0px;
         }
     }

     & .fonctionnement {
         & h2 {
             padding: 55px 0px 15px 15px;
         }

         & ul {

             display: grid;
             grid-gap: 2.5em;
             margin: 20px;

             & li {
                 @extend %FlexStart;
                 background-color: $light-gray;
                 gap: 20px;

                 height: 50px;
                 padding: 0px 20px;
                 border-radius: 25px;
                 box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);

                 & span {
                     @extend %RoundCircle
                 }
             }


             & i {
                 padding-left: 20px;
                 color: $icon-gray;

             }


             & .purple {
                 // a nester dans le  li
                 color: $purple;
             }

         }
     }

     & .restaurants {
         background-color: $light-gray;

         & ul {
             display: grid;
             @include gridtemplate_rows(4);
             gap: 50px;

             & .CardImg {
                 color: wihte;
                 width: auto; // a modidier,
                 height: auto; // a modifier
                 @extend %border;

                 & img {
                     @extend %ImgCover;
                     border-radius: 25px 25px 0px 0px;
                 }
             }

             & .CardInfo {
                 color: wihte;
             }
         }
     }

 }