main .restaurants ul .CardImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main .position, header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li, main .fonctionnement ul li {
  display: flex;
  justify-content: start;
  align-items: center;
}

main .restaurants ul .CardImg {
  border-radius: 25px 25px 0px 0px;
}

main .fonctionnement ul li span {
  display: inline-block;
  position: absolute;
  left: 10px;
  padding: 6px 9px;
  font-size: 10px;
  font-weight: 900;
  line-height: 1;
  content: "\f111";
  color: white;
  background-color: #9356DC;
  border: 1px solid #efefef;
  border-radius: 50%;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

header a {
  padding-top: 20px;
  padding-bottom: 20px;
}

main .position {
  padding: 20px;
  background-color: #eaeaea;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
main .position i {
  padding-right: 10px;
}
main .position p {
  padding-left: 10px;
  font-weight: 500;
}
main .reservation {
  text-align: center;
  background-color: #f6f6f6;
}
main .reservation h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 45px 0px 20px 0px;
}
main .reservation p {
  font-size: 18px;
  font-weight: 300;
  padding: 0px 0px 20px 0px;
}
main .fonctionnement h2 {
  padding: 55px 0px 15px 15px;
}
main .fonctionnement ul {
  display: grid;
  grid-gap: 2.5em;
  margin: 20px;
}
main .fonctionnement ul li {
  background-color: #f6f6f6;
  gap: 20px;
  height: 50px;
  padding: 0px 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
main .fonctionnement ul i {
  padding-left: 20px;
  color: #7e7e7e;
}
main .fonctionnement ul .purple {
  color: #9356DC;
}
main .restaurants {
  background-color: #f6f6f6;
}
main .restaurants ul {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}
main .restaurants ul .CardImg {
  color: wihte;
  width: auto;
  height: auto;
}
main .restaurants ul .CardImg img {
  border-radius: 25px 25px 0px 0px;
}
main .restaurants ul .CardInfo {
  color: wihte;
}

footer {
  background-color: #353535;
  color: white;
  padding-left: 20px;
}
footer h3 {
  padding: 20px 0 20px 0px;
}
footer ul {
  padding-bottom: 15px;
}
footer ul li {
  gap: 20px;
  padding-bottom: 15px;
}
footer ul li .utensils {
  width: 11px;
  height: 13px;
}
footer ul li .handshake {
  width: 10.92px;
  height: 13px;
}
