footer {

    background-color: $gris-sombre;
    color: white;
    padding-left: 20px;


    @media (min-width: 960px) {
        height: 114px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: end;
        gap: 30px;
    }

    & h3 {
        padding: 20px 0 20px 0px;
        font-family: "Shrikhand", cursive;
        font-weight: 500;

        @media (min-width: 960px) {
            padding: 0px 70px 30px 70px;
        }
    }

    & ul {
        padding-bottom: 15px;

        @media (min-width: 960px) {
            display: flex;
            justify-content: end;
            align-items: end;
            gap: 30px;
        }


        & li {
            gap: 20px;
            padding-bottom: 15px;

            i {
                padding-right: 1em;
            }

            a {
                color: white;
            }

            & .utensils {
                width: 11px;
                height: 13px
            }

            & .handshake {
                width: 10.92px;
                height: 13px
            }
        }

    }

}