// @extend %"nom du place holder"



%ImgCover {

    height: 100%;
    width: 100%;
    object-fit: cover;
}

%FlexCenter {

    display: flex;
    justify-content: center;
    align-items: center;
}


%FlexStart {

    display: flex;
    justify-content: start;
    align-items: center;
}

%border {
    border-radius: 25px 25px 0px 0px;
}


%RoundCircle {

    display: inline-block;
    position: absolute;
    left: 10px;
    padding: 6px 9px;
    font-size: 10px;
    font-weight: 900;
    line-height: 1;
    content: "\f111";
    color: white;
    background-color: $purple;
    border: 1px solid #efefef;
    border-radius: 50%;
}