$main-bg-color: #fcc0ce;
$turquoise: #99E2D0;
$green: #008766;
$light-blue: #89C8FA;
$blue: #003A68;
$purple: #9356DC;

$dark-gray: #eaeaea;
$light-gray: #f6f6f6;
$black: #353535;

$icon-gray: #7e7e7e;